<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  
	<div fxFlex="40" *ngIf="dish">
		<md-card>
		  <md-card-header>
		    <md-card-title>
		      <h3>{{dish.name | uppercase}}</h3>
		    </md-card-title>
		  </md-card-header>
		  
		  <img md-card-image src={{dish.image}} alt={{dish.name}}>
		  
		  <md-card-content>
		    <p>{{dish.description}}
		    </p>
		  </md-card-content>
		  
		  <md-card-actions>
	        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
	        <button md-button (click)="goBack()">BACK</button>
	        <button md-button>LIKE</button>
	        <button md-button>SHARE</button>
	        <span class="flex-spacer"></span>
	        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      	  </md-card-actions>
		
		</md-card>
	</div>
  

  <div fxFlex="40">
  	<h3>Comments</h3>
    <md-list *ngIf="dish">
    	
		<md-list-item *ngFor="let com of dish.comments">
		<p md-line> {{com.comment}}</p>
		<p md-line> {{com.rating+' Stars'}} </p>
		<p md-line> {{'-- '+com.author+' '}} {{com.date | date}} </p>
		
		</md-list-item>

		<md-list-item *ngIf=feedbackForm.valid>
		<p md-line> {{feedbackForm.value.name }}</p>
		<p md-line> {{feedbackForm.value.rate }} {{'Stars'}}</p>
		<p md-line> {{'-- '+feedbackForm.value.comment }}</p>

		</md-list-item>
	
	</md-list>

    <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width"
         dividerColor="{{(formErrors.name) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="name" placeholder="Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.name)">
              {{formErrors.name}}</span>
          </md-hint>
        </md-input-container>
      </p>

      <p>
          <md-slider formControlName="rate" max="5" min="1" step="1" thumbLabel tick-interval="1" value="value">
		  </md-slider>  
      </p>
        
      <p>
        <md-input-container class="full-width">
          <textarea mdInput formControlName="comment" placeholder="Your Comment" required rows=12></textarea>
          <md-hint>
            <span [hidden]="!(formErrors.comment)">
              {{formErrors.comment}}</span>
          </md-hint>
        </md-input-container>
      </p>

      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
      
    </form>
  
  </div>

  

  <div [hidden]="dish">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>
